body {
  background-color: #282c34;
}

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: ghostwhite;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.invisible {
  display: none;
}

.visible {
  display: "";
}

.img {
  margin-top: 30px;
  height: 300px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: rgba(50, 200, 220, 0.705); */
  background: rgb(0, 128, 128);
  background: linear-gradient(
    129deg,
    rgba(0, 128, 128, 1) 25%,
    rgba(255, 165, 0, 1) 75%
  );
  color: ghostwhite;
  font-size: 1em;
  position: sticky;
  top: 10px;
  width: 100vw;
  border-width: 3px 0px;
  border-color: rgb(180, 180, 180);
  border-style: solid;
  opacity: 80%;
}

.imgNavbar {
  height: 70px;
  margin: 10px;
}

.search-input {
  font-size: large;
}

.footer {
  font-size: large;
  height: 30px;
  width: 100vw;
  position: sticky;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #282c34;
  opacity: 80%;
  border-width: 2px 0px 0px 0px;
  border-color: rgb(180, 180, 180);
  border-style: solid;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

.recipeImage {
  left: 0;
  height: 400px;
  width: 400px;
  border-radius: 25px;
  object-fit: cover;
}

.recip {
  border: 2px solid rgb(255, 215, 0);
  margin: 20px;
  padding: 0px 20px;
  border-radius: 25px;
  /* min-height: 25rem; */
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}

.splide:not(.is-overflow) .splide__arrows {
  display: none;
}

.links {
  color: ghostwhite;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid ghostwhite;
  padding: 5px 15px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 25px;
}

a.links:hover {
  opacity: 0.3;
  background-color: ghostwhite;
  color: #282c34;
}

a.detailLinks:link {
  color: ghostwhite;
  text-decoration: none;
}

a.detailLinks:visited {
  color: ghostwhite;
  text-decoration: none;
}

a.detailLinks:hover {
  color: rgb(0, 128, 128);
  text-decoration: none;
}

.star-rating {
  margin-bottom: 20px;
  padding-top: -5px;
}

.star {
  font-size: 2em;
  color: rgb(255, 215, 0);
  margin-top: -12px;
  padding-top: -100px;
}

.active {
  color: greenyellow;
  border: 2px solid greenyellow;
}

.recipeDiv {
  cursor: pointer;
}

.goBack {
  color: #282c34;
  font-size: large;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid ghostwhite;
  padding: 5px 15px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 25px;
}
